.lang_sel_holder {
    display: flex;
}

.lang_sel {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    border: 1px solid #FFFFFF;
    margin: 200px auto 0 auto;
}


.text_holder {
    margin: auto 0px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: #FFFFFF;
    font-size: 15pt;
}

.button_holder {
    display: flex;
}

.button {
    margin: 25px auto;
    width: 200px;
    height: 80px;
    border: 1px solid #FFFFFF;
}